@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
/*                Suitable for 1496 scrine size */
*,body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.my-body{
    padding: 50px 150px;
    padding-bottom: 0;
}
.container-first{
    display: flex;
}
/* Text left start here */
.container-first .text-left{
    width: 50%;
    margin: 20px;
}
.border-left{
    border-left: 5px solid #8843F2;
}
.text-left h1{
    display: block;
    font-size: 4rem;
    font-weight: 500;
    margin: 10px 10px;
}
.text-orange{
    color: #F47340;
}
.text-left p{
    margin: 40px 0px;
    margin-right: 100px;
    font-size: 1.1rem;
}
.my-button{
   text-decoration: none;
   padding: 10px;
   border-radius: 5px;
   color: white;
   background: linear-gradient(#F47340,#EF2F88);
}
.image-right{
    width: 50%;
}
.image-right img{
    width: 58%;
    margin-top: -73px;
    margin-left: 76px;
}
/* container-Second start */
.container-second h1{ 
    text-align: center;
    font-size: 3rem;
    margin: 50px;
    margin-top: 0;

}
.container-myMission{
    display: flex;
}
.mission-box{
    width: 30%;
    margin: 10px 20px;
    padding: 10px 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.288);
    border-radius: 10px;
}
.mission-box h2{
    margin: 10px 0px;
}
.mission-box img{
    width: 40%;
}
.mission{
    background-color: rgba(244, 172, 64, 0.11);

}
.vission{
    background-color: #ef2f8923;
}
.goals{
    background-color: #8943f218;
}

/* container-3 start */
.container-3{
    display: flex;
    margin-top: 50px;

}
.image-part{
    width: 40%;
}
.shape-0{
    float: left !important;
    width: 46%;
    margin-top: -270px;
    margin-left: -74px;
}
.shape-1{
    float: right;
    padding-top: 0px;
    width: 40% !important;
    margin-top: -130px;
    margin-right: 18px;
}
.image-part .img-coding{
    width: 74%;
    margin-left: 30px;
}
.text-part{
    width: 60%;
    padding: 10px 30px;
}
.container-3 h1{
    font-size: 2rem;
    margin: 18px 0px;
}
.text-part{
    padding: 10px 30px;
}
.text-part p{
    font-size: 1.1rem;
    margin-bottom: 30px;
}
/* container4 start here */
.container4 h1{
    font-size: 3rem;
    text-align: center;
    margin: 30px;
}
.my-form{
 display: flex;
 background-size: 68px; 

}
.form-left{
    width: 55%;
    margin-right: 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.267);
    background: url(./img/shapes/shape-6.png);
    background-repeat: no-repeat;
   background: rgba(173, 216, 230, 0.582) url("./img/shapes/shape-6.png") no-repeat center;
   background-size: 100%; 
}
.shap-contact{
    width: 30%;
   float: left;
    margin-left: -70px;
}
.form-left a{
   padding: 10px 20px;
}
.form-left h3{
  font-size: 1rem;
  font-weight: 100;
 color: rgba(0, 0, 0, 0.596);
}

.form-left form{
    padding: 20px 15px;
    z-index: 1;
}
.form-left form label{
    font-size: 1rem;
}
.form-left form input{
  margin: 10px 5px;
  padding: 5px;
  font-size: 1rem;
}
form textarea{
    margin: 30px 0px;
    margin-top: 10px;
    padding: 5px;
   text-align: left;
}
.form-right{
    width: 40%;
    padding: 25px;
    margin: 0px 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.233);
    background: rgba(173, 216, 230, 0.568) url("./img/shapes/shape-6.png") no-repeat bottom;
    background-size: 80%;
    
}
.form-right p{
    margin: 15px 0px;

}
/* footer start here */
.container-5{
    background-color: black;
    color: white;
    /* margin-top: 25px; */
}
.container-5 h1{
    text-align: center;
    margin: 25px 0px;
    padding-top: 35px;
}
.container-5 p{
    text-align: center;
    padding: 25px 0px;
}